.transactionHistory{
    width: 800px;
    text-align: left;
    border-radius: 1%;
    background: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.transcriptionHeader{
    background-color: rgb(8, 131, 131);
    text-align: center;
}

.transactionInit{
    text-align: center;
    background-color: aquamarine;
    font-weight: 400;
    text-transform: uppercase
}